@import "tailwindcss";

*{
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
}

:root {
  --color-primary: #6E07F3;
  --color-secondary: #5BE9B9;
  --color-transparent: #FFFFFF4D;
  --color-fblack: #28282B;
}
